<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/about.css">
    <link rel="icon" href="static/images/icon.ico">
    <script src="static/script/jquery.min.js"></script>
    <script src="static/script/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/slick.css"/>
    <title>RETRO-STORE | о нас</title>
</head>
<body class="body">
    <!-- Шапка -->
    <header class="body__header header">
        <!-- Заголовок сайта -->
        <h1 class="header__title">RETRO-STORE</h1>
        <!-- Бургер-меню -->
        <div class="burger-menu">
            <span></span>
        </div>
        <!-- Навигация -->
        <nav class="header__nav header-nav">
            <ul class="header-nav__list header-list">
                <li class="header-list__item header-list-item">
                    <a class="header-list-item__link" href="/">Главная</a>
                </li>
                <li class="header-list__item header-list-item">
                    <a class="header-list-item__link" href="/shop">Магазин</a>
                </li>
                <li class="header-list__item header-list-item">
                    <a class="header-list-item__link" href="/about"><b>О нас</b></a>
                </li>
                <li class="header-list__item header-list-item">
                    <a class="header-list-item__link" href="/">Корзина</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Главная часть -->
    <main class="body__main main">
        <section class="main__story story-section">
            <p class="story-section__text">
                Компания была основана Елисеевым Трофимом Порфирьевичем в 1919 году. Начав свою деятельность как небольшой
                семейный бизнес, Retro-store стремилась создать место, где ценились искусство, культура и история.
                Основатели компании имели страсть к коллекционированию антиквариата и редких предметов и
                стремились создать уникальное пространство, где антикварные предметы могли бы быть доступны
                для покупателей и ценителей искусства.
            </p>
            <img src="/static/images/story/story1.jpg" alt="начало истории" class="story-section__image">
        </section>
        <section class="main__story story-section">
            <p class="story-section__text">
                С первых дней своей работы Retro-store поставила перед собой задачу предоставлять
                клиентам только самые высококачественные и уникальные предметы, которые были тщательно
                отобраны и прошли строгий контроль качества. С помощью партнерских отношений с коллекционерами,
                аукционными домами и историческими обществами, компания имеет доступ к широкому выбору антикварных изделий.
            </p>
            <img src="/static/images/story/story2.jpg" alt="партнерство" class="story-section__image">
        </section>
        <section class="main__story story-section">
            <p class="story-section__text">
                Наш ассортимент включает в себя широкий выбор предметов, от старинной мебели и украшений до
                художественных произведений, книг и фарфора. Мы гордимся тем, что каждый предмет в нашем
                ассортименте имеет свою уникальную историю, которую мы с удовольствием делимся с нашими клиентами.
            </p>
            <img src="/static/images/story/story3.jpg" alt="большой ассортимент" class="story-section__image">
        </section>
        <section class="main__story story-section">
            <p class="story-section__text">
                С годами компания Retro-store стала уважаемым и известным игроком на антикварном рынке,
                привлекая коллекционеров, ценителей искусства и тех, кто ценит историю и уникальные предметы прошлого.
            </p>
            <img src="/static/images/story/story4.jpg" alt="авторитетный рынок" class="story-section__image">
        </section>
        <section class="main__story story-section">
            <p class="story-section__text">
                Мы гордимся тем, что создали место, где люди могут насладиться красотой прошлого и обладать
                уникальными антикварными произведениями искусства. Наша миссия - сохранить и передать красоту и
                историю старинных предметов для будущих поколений.
            </p>
            <img src="/static/images/story/story5.jpg" alt="цель" class="story-section__image">
        </section>
    </main>
    <!-- Подвал -->
    <footer class="body__footer footer">
        <!--Навигация-->
        <nav class="footer__nav footer-nav">
            <ul class="footer-nav__list footer-list">
                <li class="footer-list__item footer-list-item">
                    <a href="/" class="footer-list-item__link">Главная</a>
                </li>
                <li class="link-list__ifooter-list__item footer-list-itemtem">
                    <a href="/shop" class="footer-list-item__link">Магазин</a>
                </li>
                <li class="link-list__ifooter-list__item footer-list-itemtem">
                    <a href="/about" class="footer-list-item__link"><b>О нас</b></a>
                </li>
                <li class="link-list__ifooter-list__item footer-list-itemtem">
                    <a href="/" class="footer-list-item__link">Блог</a>
                </li>
            </ul>
        </nav>
        <!--Контакты-->
        <p class="footer__contacts">
            36, Кутузовский проспект, <br>Москва, 684129<br><br>
            Email : info@retrostore.com<br>
            Телефон: +7-000-000-00-00
        </p>
        <!--Соц. сети-->
        <p class="footer__sm sm"> <!--sm - social media-->
                <a class="sm__link" href="https://x.com">X (Twitter)</a>, 
                <a class="sm__link" href="https://facebook.com">Facebook</a>, 
                <a class="sm__link" href="https://instagram.com">Instagram</a><br>
                (Запрещены на территории РФ)
        </p>
        <!--Рассылка-->
        <div class="footer__newsletter nwsltr">
            <p class="nwsltr__title">Рассылка</p>
            <form action="#nwsltr-form" class="nwsltr__form nwsltr-form" id="nwsltr-form">
                <input required type="email" placeholder="Email" name="email" class="nwsltr-form__email">
                <button class="nwsltr-form__submit" type="submit">Подписаться</button>
            </form>
        </div>
    </footer>
    <script src="static/script/script.js"></script>
</body>
</html>