<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/shop.css">
    <link rel="icon" href="static/images/icon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <title>RETRO-STORE | магазин</title>
</head>
<body class="body">
    <!-- Шапка -->
    <header class="body__header header">
        <!-- Заголовок сайта -->
        <h1 class="header__title">RETRO-STORE</h1>
        <!-- Бургер-меню -->
        <div class="burger-menu">
            <span></span>
        </div>
        <!-- Навигация -->
        <nav class="header__nav header-nav">
            <ul class="header-nav__list header-list">
                <li class="header-list__item header-list-item">
                    <a class="header-list-item__link" href="/">Главная</a>
                </li>
                <li class="header-list__item header-list-item">
                    <a class="header-list-item__link" href="/shop"><b>Магазин</b></a>
                </li>
                <li class="header-list__item header-list-item">
                    <a class="header-list-item__link" href="/about">О нас</a>
                </li>
                <li class="header-list__item header-list-item">
                    <a class="header-list-item__link" href="/">Корзина</a>
                </li>
            </ul>
            <ul class="header-nav__list header-list">
                {% for category in assort %}
                <li class="header-list__item header-list-item">
                    <a href="#{{category}}" class="header-list-item__link">{{assort[category]['name']}}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <!-- Главная часть -->
    <main class="body__main main">
        {% for category in assort %}
        <!-- Секция категории -->
        <section class="section-{{category}}" id="{{category}}">
            <!-- Заголовок -->
            <h1 class="{{category}}__title section-title">{{assort[category]['name'] | upper}}</h1>
            <!-- Список -->
            <ul class="{{category}}__list products-list">
                {% for product in assort[category]["products"] %}
                <figcaption class="products-list__product product">
                    <a href="/products/{{category}}/{{product}}" class="product__link"></a>
                    <img src="static/images/{{category}}/{{product}}.png" alt="{{product}}" class="product__image">
                    <p class="product__name">{{assort[category]['products'][product]["name"]}}</p>
                    <p class="product__price">{{assort[category]['products'][product]["price"]}}</p>
                </figcaption>
                {% endfor %}
            </ul>
        </section>
        {% endfor %}
        <!-- Настольные принадлежности -->
        <!-- <section class="section-desk desk" id="desk"> -->
            <!-- Заголовок -->
            <!-- <h1 class="desk__title section-title">НАСТОЛЬНЫЕ ПРИНАДЛЕЖНОСТИ</h1> -->
            <!-- Список -->
            <!-- <ul class="desk__list desk-list products-list">
                <figcaption class="pop-list__product product" id="bottle-stand">
                    <img src="static/images/desk/retro-bottle-stand.png" alt="подставка для бутылок" class="product__image">
                    <p class="product__name">Подставка для бутылок в стиле ретро</p>
                    <p class="product__price">₽3999.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="gramophone">
                    <img src="static/images/desk/retro-gramophone.png" alt="грамофон" class="product__image">
                    <p class="product__name">Ретро граммофон</p>
                    <p class="product__price">₽3499.00</p>
                </figcaption>
                <figcaption class="news-list__product product" id="alarm">
                    <img src="static/images/desk/retro-alarm.png" alt="будильник" class="product__image">
                    <p class="product__name">Ретро будильник</p>
                    <p class="product__price">₽3499.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="fortune">
                    <img src="static/images/desk/retro-fortune.png" alt="статуэтка богини Фортуны" class="product__image">
                    <p class="product__name">Статуэтка богини Фортуны</p>
                    <p class="product__price">₽1799.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="globe">
                    <img src="static/images/desk/retro-globe.png" alt="глобус" class="product__image">
                    <p class="product__name">Ретро глобус</p>
                    <p class="product__price">₽999.00</p>
                </figcaption>
                <figcaption class="news-list__product product" id="clock">
                    <img src="static/images/desk/retro-clock.png" alt="часы" class="product__image">
                    <p class="product__name">Ретро часы</p>
                    <p class="product__price">₽3499.00</p>
                </figcaption>
            </ul>
        </section> -->
        <!-- Игрушки -->
        <!-- <section class="section-toys toys" id="toys"> -->
            <!-- Заголовок -->
            <!-- <h1 class="toys__title section-title">ИГРУШКИ</h1> -->
            <!-- Список -->
            <!-- <ul class="toys__list toys-list products-list">
                <figcaption class="pop-list__product product" id="plane">
                    <img src="static/images/toys/retro-plane.png" alt="фигурка самолёта" class="product__image">
                    <p class="product__name">Фигурка ретро самолета</p>
                    <p class="product__price">₽899.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="tiger">
                    <img src="static/images/toys/retro-tiger.png" alt="статуэтка тигра-джентльмена" class="product__image">
                    <p class="product__name">Статуэтка тигра-джентльмена</p>
                    <p class="product__price">₽1499.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="car">
                    <img src="static/images/toys/retro-car.png" alt="игрушечный ретро-автомобиль" class="product__image">
                    <p class="product__name">Игрушечный ретро-автомобиль</p>
                    <p class="product__price">₽2499.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="locomotive">
                    <img src="static/images/toys/retro-lovomotive.png" alt="игрушечный ретро-локомотив" class="product__image">
                    <p class="product__name">Игрушечный ретро-локомотив</p>
                    <p class="product__price">₽3199.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="dendy">
                    <img src="static/images/toys/dendy.png" alt="Dendy" class="product__image">
                    <p class="product__name">Dendy</p>
                    <p class="product__price">₽7999.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="carriage">
                    <img src="static/images/toys/retro-carriage.png" alt="carriage" class="product__image">
                    <p class="product__name">Ретро коляска</p>
                    <p class="product__price">₽699.00</p>
                </figcaption>
            </ul>
        </section> -->
        <!-- Одежда -->
        <!-- <section class="section-clothes clothes"> -->
            <!-- Заголовок -->
            <!-- <h1 class="clothes__title section-title">ОДЕЖДА</h1> -->
            <!-- Подзаголовок -->
            <!-- <h2 class="clothes__subtitle section-subtitle" id="jackets">Куртки</h2> -->
            <!-- Список -->
            <!-- <ul class="clothes__list clothes-list products-list">
                <figcaption class="pop-list__product product" id="white-jacket">
                    <img src="static/images/clothes/jackets/white-jacket.png" alt="белая куртка" class="product__image">
                    <p class="product__name">Белая куртка</p>
                    <p class="product__price">₽3499.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="pink-jacket">
                    <img src="static/images/clothes/jackets/pink-jacket.png" alt="розовая олимпийка" class="product__image">
                    <p class="product__name">Розовая олимпийка</p>
                    <p class="product__price">₽3299.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="leather-jacket">
                    <img src="static/images/clothes/jackets/leather-jacket.png" alt="кожаная винтажная куртка" class="product__image">
                    <p class="product__name">Кожаная винтажная куртка</p>
                    <p class="product__price">₽4499.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="japanese-jacket">
                    <img src="static/images/clothes/jackets/japanese-jacket.png" alt="японская винтажная куртка" class="product__image">
                    <p class="product__name">Японская винтажная куртка</p>
                    <p class="product__price">₽4799.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="ferrari-jacket">
                    <img src="static/images/clothes/jackets/ferrari-jacket.png" alt="винтажная куртка Феррари" class="product__image">
                    <p class="product__name">Винтажная куртка Феррари</p>
                    <p class="product__price">₽5799.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="denim-jacket">
                    <img src="static/images/clothes/jackets/denim-jacket.png" alt="винтажная джинсовая куртка" class="product__image">
                    <p class="product__name">Винтажная джинсовая куртка</p>
                    <p class="product__price">₽4199.00</p>
                </figcaption>
            </ul> -->
            <!-- Подзаголовок -->
            <!-- <h2 class="__subtitle section-subtitle" id="headdress">Головные уборы</h2> -->
            <!-- Список -->
            <!-- <ul class="clothes__list clothes-list products-list">
                <figcaption class="news-list__product product" id="cap">
                    <img src="static/images/clothes/headdress/retro-cap.png" alt="кепка" class="product__image">
                    <p class="product__name">Ретро кепка</p>
                    <p class="product__price">₽999.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="beret">
                    <img src="static/images/clothes/headdress/retro-beret.png" alt="берет" class="product__image">
                    <p class="product__name">Ретро берет</p>
                    <p class="product__price">₽1199.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="denim-cap">
                    <img src="static/images/clothes/headdress/denim-cap.png" alt="джинсовая винтажная кепка" class="product__image">
                    <p class="product__name">Джинсовая винтажная кепка</p>
                    <p class="product__price">₽1099.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="hippy-hat">
                    <img src="static/images/clothes/headdress/hippy-hat.png" alt="хипстерская панамка" class="product__image">
                    <p class="product__name">Хипстерская панамка</p>
                    <p class="product__price">₽1299.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="cap2">
                    <img src="static/images/clothes/headdress/retro-cap2.png" alt="черная бейсболка" class="product__image">
                    <p class="product__name">Черная бейсболка</p>
                    <p class="product__price">₽1599.00</p>
                </figcaption>
                <figcaption class="pop-list__product product" id="fedora">
                    <img src="static/images/clothes/headdress/retro-fedora.png" alt="федора" class="product__image">
                    <p class="product__name">Федора</p>
                    <p class="product__price">₽1899.00</p>
                </figcaption>
            </ul>
        </section> -->
    </main>
    <!-- Подвал -->
    <footer class="body__footer footer">
        <!--Навигация-->
        <nav class="footer__nav footer-nav">
            <ul class="footer-nav__list footer-list">
                <li class="footer-list__item footer-list-item">
                    <a href="/" class="footer-list-item__link">Главная</a>
                </li>
                <li class="link-list__ifooter-list__item footer-list-itemtem">
                    <a href="/shop" class="footer-list-item__link"><b>Магазин</b></a>
                </li>
                <li class="link-list__ifooter-list__item footer-list-itemtem">
                    <a href="/about" class="footer-list-item__link">О нас</a>
                </li>
                <li class="link-list__ifooter-list__item footer-list-itemtem">
                    <a href="/" class="footer-list-item__link">Блог</a>
                </li>
            </ul>
        </nav>
        <!--Контакты-->
        <p class="footer__contacts">
            36, Кутузовский проспект, <br>Москва, 684129<br><br>
            Email : info@retrostore.com<br>
            Телефон: +7-000-000-00-00
        </p>
        <!--Соц. сети-->
        <p class="footer__sm sm"> <!--sm - social media-->
                <a class="sm__link" href="https://x.com">X (Twitter)</a>, 
                <a class="sm__link" href="https://facebook.com">Facebook</a>, 
                <a class="sm__link" href="https://instagram.com">Instagram</a><br>
                (Запрещены на территории РФ)
        </p>
        <!--Рассылка-->
        <div class="footer__newsletter nwsltr">
            <p class="nwsltr__title">Рассылка</p>
            <form action="#nwsltr-form" class="nwsltr__form nwsltr-form" id="nwsltr-form">
                <input required type="email" placeholder="Email" name="email" class="nwsltr-form__email">
                <button class="nwsltr-form__submit" type="submit">Подписаться</button>
            </form>
        </div>
    </footer>
    <script src="static/script/script.js"></script>
</body>
</html>